<div class="grid-container">
  <mat-card class="example-card" style="width: 424px;">
    <mat-card-header>
      <mat-card-title><b>Products</b></mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card" style="width: 424px;">
    <mat-card-header>
      <mat-card-title><b>Users</b></mat-card-title>
    </mat-card-header>
  </mat-card>
  <mat-card class="example-card" style="width: 424px;">
    <mat-card-header>
      <mat-card-title><b>Orders</b></mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
